<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MenuDeff</title>

    <link rel="stylesheet" href="/css/main.css/menu.css" />

    <!--Link Bootstrap-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>


<!-- NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-dark bg-danger" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/index.html">
      <img src="/imagenes/logo/logo3.png" alt="Imagen Logo" width="200"/>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/views/principal.html">Inicio</a>
          <li class="nav-item active"><a class="nav-link" href="/views/menu.html">Menu</a></li>
          <li class="nav-item active"><a class="nav-link" href="/views/nosotros.html">Nosotros</a></li>
          <li class="nav-item active"><a class="nav-link" href="/views/registraciones.html">Registrarse</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--FIN NAVBAR-->


    <!--Container Principal-->
    <section class="container-fluid">
      <div class="justify-content-left">
                <h1 class="text-left">"Nuestra Especialidades"</h1>
              </div>
      <!--ENTRADAS-->
      
            <div class="container-fluid">
                  <h2 class="container-fluid">Entradas</h2>
      
              <!--Card 1-->
              <div class="card">
                <div class="imgBx">
                  <img src="/imagenes/fotosMenu/entradas/langoSalteados.jpg" alt="" />
                  <h2 class="text-center">Langostinos salteados</h2>
                </div>
                <div class="content">
                  <p>
                    Langostinos salteados con ajo, pimenton y jugo de limon, acompañados con mayonesa del mar.
                  </p>
                </div>
              </div>
      
              <!--Card 2-->
              <div class="card">
                <div class="imgBx">
                  <img src="/imagenes/fotosMenu/entradas/mollejasAlLimon.jpg" alt="" />
                  <h2 class="text-center">Mollejas de ternera al limon</h2>
                </div>
                <div class="content">
                  <p>
                    Mollejas al ajillo con jugo de limon y chimichurri hechas a la plancha.
                  </p>
                </div>
              </div>
      
              <!--Card 3-->
              <div class="card">
                <div class="imgBx">
                  <img src="/imagenes/fotosMenu/entradas/empanadas1980.jpg" alt="" />
                  <h2 class="text-center">Empanadas Caseras</h2>
                </div>
                <div class="content">
                  <p>
                    Empanadas caseras, hechas a mano, todo cortado a cuchillo. De J&Q, carne, carne picante, espinaca y salsa blanca.
                  </p>
                </div>
              </div>
            </div>
            
            
            
            <!--ENSALADAS-->
            
            <div class="container-fluid">
              
            <h2 class="container-fluid">Ensaladas</h2>
      
            <!--Card 1-->
            <div class="card">
              <div class="imgBx">
                <img src="/imagenes/fotosMenu/ensaladas/ensalada-cesar-3403.jpg" alt="" />
                <h2 class="text-center">Ensalada Cesar de la casa</h2>
              </div>
              <div class="content">
                <p>
                  Ensalada Cesar con croutons, pollo a la plancha, queso rallado y la salsa clasica.
                </p>
              </div>
            </div>
            
            <!--Card 2-->
            <div class="card">
              <div class="imgBx">
                <img src="/imagenes/fotosMenu/ensaladas/ensDeEspinacaConMiel.jpg" alt="" />
                <h2 class="text-center">Ensalada de Espinaca</h2>
              </div>
              <div class="content">
                <p>
                  Ensalada de espinaca con miel, tomates cherrys, choclo, semillas de girasol, pollo a la plancha y nueces.
                </p>
              </div>
            </div>
            
            <!--Card 3-->
            <div class="card">
              <div class="imgBx">
                <img src="/imagenes/fotosMenu/ensaladas/ensalada-de-canonigos-con-queso-brie-y-nueces-foto-principal.jpg" alt="" />
                <h2 class="text-center">Ensalada Brie</h2>
              </div>
              <div class="content">
                <p>
                  Ensalada de mix de verdes con queso brie, almendras, pasas dulces y aderezo de pomelo.
                </p>
              </div>
            </div>
          </div>
      
      <!--PASTAS-->
      
        <div class="container-fluid">
      
          <h2 class="container-fluid">Pastas</h2>
      
          <!--Card 1-->
          <div class="card">
            <div class="imgBx">
              <img src="/imagenes/fotosMenu/pastas/raviolis-calabaza-1.jpg" alt="" />
              <h2 class="text-center">Ravioles de Calabaza</h2>
            </div>
            <div class="content">
              <p>
                Ravioles caseros de Calabaza con salsa de espinaca.
              </p>
            </div>
          </div>
          
          <!--Card 2-->
          <div class="card">
            <div class="imgBx">
              <img src="/imagenes/fotosMenu/pastas/canelones2.jpg" alt="" />
              <h2 class="text-center">Canelones de Ricotta</h2>
            </div>
            <div class="content">
              <p>
                Canelones de ricotta con nueces y salsa 4 quesos.
              </p>
            </div>
          </div>
          
          <!--Card 3-->
          <div class="card">
            <div class="imgBx">
              <img src="/imagenes/fotosMenu/pastas/Noquis-1.jpg" alt="" />
              <h2 class="text-center">Ñoquis de Papa</h2>
            </div>
            <div class="content">
              <p>
                Ñoquis de papa caseros con salsa a eleccion (blanca, fileto o bolognesa) y mucho queso.
              </p>
            </div>
          </div>
        </div>
      
      <!--CARNES-->
      
        <div class="container-fluid">
      
          <h2 class="container-fluid">Carnes</h2>
      
          <!--Card 1-->
          <div class="card">
            <div class="imgBx">
              <img src="/imagenes/fotosMenu/carnes/bife2.jpg" alt="" />
              <h2 class="text-center">Bife de Chorizo a la parrilla</h2>
            </div>
            <div class="content">
              <p>
                Bife de Chorizo, punto a gusto, acompañado de una fritas clasicas de la casa.
              </p>
            </div>
          </div>
          
          <!--Card 2-->
          <div class="card">
            <div class="imgBx">
              <img src="/imagenes/fotosMenu/carnes/1521_salmonparrillaarrozverde_1274285418.jpg" alt="" />
              <h2 class="text-center">Salmon Rosado a la Plancha</h2>
            </div>
            <div class="content">
              <p>
                Salmon Rosado a la plancha, mucho limon, acompañado con arroz verde.
              </p>
            </div>
          </div>
          
          <!--Card 3-->
          <div class="card">
            <div class="imgBx">
              <img src="/imagenes/fotosMenu/carnes/pechugas-envueltas-en-tocino.jpg" alt="" />
              <h2 class="text-center">Pechuga envuelta en Panceta</h2>
            </div>
            <div class="content">
              <p>
                Pechugas de pollo envueltas en panceta y rellenas de queso cheddar.
              </p>
            </div>
          </div>
        </div>
      
      
      
      </section>

     <!--Footer-->
<!--FOOTER-->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="container-fluid">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Al Alba Recoleta "Casa de Eventos"
          </h6>
          <p>
            Somos una familia, somos un hogar, donde se crean anecdotas, historias, donde la gente rie y festeja la vida.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p>
            <a href="/views/registraciones.html" class="text-reset">Registrarse</a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
        </div>
        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <p>
            <a href="/views/principal.html" class="text-reset">Inicio</a>
          </p>
          <p>
            <a href="/views/menu.html" class="text-reset">Menu</a>
          </p>
          <p>
            <a href="/views/nosotros.html" class="text-reset">Nosotros</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3"></i> Buenos Aires, Recoleta 1062, Argentina</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            alalbarecoelta@casadeeventos.com.ar
          </p>
          <p><i class="fas fa-phone me-3"></i> + 54 9 11 66312556</p>
          <p><i class="fas fa-print me-3"></i> + 54 9 11 66312557</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https:///">AlAlbaRecoleta.com.ar</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


<!--Popper y Jquery-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
