<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nosotros</title>

    <!--Link Bootstrap-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
<!--Master CSS-->
    <link rel="stylesheet" href="/css/main.css/aboutUs.css" />

    <!--Importing montserrat fonts from google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

<!-- NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-dark bg-danger" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">
      <img src="/imagenes/logo/logo3.png" alt="Imagen Logo" width="200"/>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/views/principal.html">Inicio</a>
          <li class="nav-item active"><a class="nav-link" href="/views/menu.html">Menu</a></li>
          <li class="nav-item active"><a class="nav-link" href="/views/nosotros.html">Nosotros</a></li>
          <li class="nav-item active"><a class="nav-link" href="/views/registraciones.html">Registrarse</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--FIN NAVBAR-->





    <section class="about">
      <div class="container">
        <div class="heading">
          <h2 class="section-heading">NOSOTROS</h2>
          <p class="sub-heading">
            Nuestra especialidad, los pequeños detalles; somos fabricantes de recuerdos, de momentos inmemorables. Es el deseo de toda la familia de la casa de Al Alba ayudar a nuestros clientes a crear su magnum opus, una experiencia eterna en la mente de nuestros agasajados.
          </p>
        </div>

        <div class="row-container">
          <div class="row">
            <div class="img-col">
              <img src="/imagenes/nosotros/fondo3.jpg" alt="" />
            </div>
            <div class="text-col justify-text-right">
              <h3>
                Nuestra<br />
                Casa
              </h3>
              <p>
                Han pasado mas de 100 años desde que el primer festejo ocurrio en este gran hogar, han pasado mas de mil fiestas, mas de diez mil festejos, mas de un millon de personas desde que las puertas de Al Alba fueron abiertas por primera. Y nuestra alegria es cada vez mayor.
              </p>
            </div>
          </div>


          <div class="row">
            <div class="text-col">
              <h3>
                El artesano <br />
                de los alimentos
              </h3>
              <p>
                Los invitamos a una experiencia intima en el corazon de nuestras artesanias comestibles, la casa central se enorgullece en recibir a todos aquellos que deseen conocer un poco mas de nuestra historia.
              </p>
              <div class="">
                <img src="/imagenes/nosotros/ETUD_4_gastronomie.jpg" class="container-fluid" alt="" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-col">
              <h3>
                Desde <br />
                adentro
              </h3>
              <p>
                Los invitamos a una experiencia intima en el corazon de nuestras artesanias comestibles, la casa central se enorgullece en recibir a todos aquellos que deseen conocer un poco mas de nuestra historia.
              </p>
              <div class="">
                <img src="/imagenes/nosotros/kitchen1.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--Footer-->
<!--FOOTER-->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="container-fluid">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Al Alba Recoleta "Casa de Eventos"
          </h6>
          <p>
            Somos una familia, somos un hogar, donde se crean anecdotas, historias, donde la gente rie y festeja la vida.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p>
            <a href="/views/registraciones.html" class="text-reset">Registrarse</a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
        </div>
        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <p>
            <a href="/views/principal.html" class="text-reset">Inicio</a>
          </p>
          <p>
            <a href="/views/menu.html" class="text-reset">Menu</a>
          </p>
          <p>
            <a href="/views/nosotros.html" class="text-reset">Nosotros</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3"></i> Buenos Aires, Recoleta 1062, Argentina</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            alalbarecoelta@casadeeventos.com.ar
          </p>
          <p><i class="fas fa-phone me-3"></i> + 54 9 11 66312556</p>
          <p><i class="fas fa-print me-3"></i> + 54 9 11 66312557</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https:///">AlAlbaRecoleta.com.ar</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


<!--Popper y Jquery-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
